body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: dodgerblue;
}

header{
    text-align: center;
}

h1{
    color: whitesmoke;
}

section{
    margin: auto;
    padding: 20px;
    max-width: 600px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 10px black;
}

#msg{
    margin-bottom: 20px;
    text-align: center;
}

#photo{
    text-align: center;
}

footer{
    text-align: center;
    margin-top: 100px;
}

a{
    margin: 15px;
    
}